.DoctorListItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vmin;
    padding: 2vmin;
    color: var(--text-light);
    background-color: var(--white);
    border: .1vmin solid var(--tan-3);
    border-radius: 1vmin;
    font-size: 4vmin;
}

.DoctorListItem .name {
    font-size: 2vw;
    text-align: center;
    color: var(--text-light);
  }

  .DoctorListItem .appointment {
    font-size: 2vw;
    text-align: center;
    color: var(--text-light);
  }
